
.survey-container {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .section {
    display: none;
  }
  
  .section:first-child {
    display: block;
  }
  .respone{
    display :none;
    width: 100%;
    height: fit-content;
  }
  .progress{
    width: 50%;
   
    margin: auto;
    margin-top: 2rem;
  }
  .button_page{

    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }