
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-y: scroll; 
}

.survey-container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  .section {
    display: none;
  }
  
  .section:first-child {
    display: block;
  }
  .response{
    width: 80vw;
    height: fit-content;
  }
  .result{
    width: 80vw;
    height: fit-content;
    /* display :none; */
    display :block;
  }
  .progress{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .button_page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }

  

.table-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
